.menu {
  display: flex;
  flex-grow: 0;
  align-items: center;
  padding-right: 0.9rem;
  .menu_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;

    .menu_icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--ceramic);
      border-radius: 15px;
      padding: 8px;
      cursor: pointer;
      transition: 0.4s all;
      .menu_link {
        text-decoration: none;
      }
      .icon {
        display: flex;
        justify-content: center;
        transition: 0.4s all;
      }
      .title {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color: black;
        font-weight: 500;
        font-size: 0.7rem;
        margin-top: 0.7rem;
        transition: 0.4s all;
      }
    }
    .active {
      background-color: var(--latte);
      transition: 0.4s all;
      .icon {
        fill: azure;
        transition: 0.4s all;
      }
      .title {
        color: azure;
        transition: 0.4s all;
      }
    }

    .menu_icon:hover {
      background-color: var(--latte);
      transition: 0.4s all;
      // .icon {
      //   fill: azure;
      //   transition: 0.4s all;
      // }
      // .title {
      //   color: azure;
      //   transition: 0.4s all;
      // }
    }
  }
}

@media only screen and (max-width: 910px) {
  .menu {
    position: fixed;
    left: 3%;
    top: 3rem;
    z-index: 5;
  }
}
@media only screen and (max-width: 560px) {
  .menu {
    position: fixed;
    left: 0rem;
    top: 0;
    z-index: 100;
    padding-right: 0rem;
    width: 100%;
    .menu_content {
      flex-direction: row;
      justify-content: space-between;
      height: 80px;
      width: 100%;
      background-color: var(--ceramic);
      .menu_icon {
        width: 90px;
        border-radius: 0;
        .title {
          font-size: 0.6rem;
          transition: 0.4s all;
        }
      }
    }
  }
}
