.menu {
  display: flex;
  align-items: center;
  padding-right: 0.9rem;
  .menu_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;

    .menu_icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // width: 90px;
      background-color: var(--ceramic);
      border-radius: 15px;
      padding: 8px;
      cursor: pointer;
      transition: 0.4s all;
      .menu_link {
        text-decoration: none;
      }
      .icon {
        display: flex;
        justify-content: center;
        transition: 0.4s all;
      }
      .title {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color: black;
        font-weight: 500;
        font-size: 0.7rem;
        margin-top: 0.7rem;
        transition: 0.4s all;
      }
    }
    .active {
      background-color: var(--latte);
      transition: 0.4s all;
      .icon {
        fill: azure;
        transition: 0.4s all;
      }
      .title {
        color: azure;
        transition: 0.4s all;
      }
    }

    .menu_icon:hover {
      background-color: var(--latte);
      transition: 0.4s all;
      .icon {
        fill: azure;
        transition: 0.4s all;
      }
      .title {
        color: azure;
        transition: 0.4s all;
      }
    }
  }
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .menu {
    position: fixed;
    left: 1.8rem;
    top: 3rem;
    z-index: 5;
  }
}
@media only screen and (max-width: 759px) {
  .menu {
    position: fixed;
    left: 0rem;
    top: 0;
    z-index: 100;
    padding-right: 0rem;
    width: 100%;
    .menu_content {
      // display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 80px;
      width: 100vw;
      background-color: var(--ceramic);
      .menu_icon {
        width: 90px;
        border-radius: 0;
        .menu_link {
          align-items: center;
        }
        .title {
          font-size: 0.5rem;
          transition: 0.4s all;
        }
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 40px;
          // padding-left: 15px;
        }
      }
    }
  }
}
