.wrap {
  display: flex;
  max-width: 500px;
  min-width: 360px;
  // height: 87vh;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--ceramic);
  border-radius: 7px;
  margin-bottom: 0.9rem;
  position: relative;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #fff;
  margin-top: 0.5rem;
  .intro_name {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 2.5rem;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .intro_prof {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: var(--grifel);
    margin-top: 0.7rem;
  }
  .intro_social {
    display: flex;
    padding: 0 5rem;
    margin-top: 2rem;
    justify-content: space-around;
    .icon_cont {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33px;
      height: 33px;
      border-radius: 20%;
      cursor: pointer;
      transition: 0.3s all;
    }
    .icon_cont:hover {
      fill: azure;
      background-color: var(--latte);
      transition: 0.3s all;
    }
  }
  .intro_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 2rem;
    padding: 2rem 0;
    border-top: 0.03rem solid var(--ceramic);
    .link {
      text-decoration: none;
      color: var(--grifel);
      transition: 0.3s all;
      padding: 0.4rem 0.5rem;
      border-radius: 5px;
    }
    .link:hover {
      color: azure;
      transition: 0.3s all;
      background-color: var(--latte);
    }
  }
}
