.App {
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  font-size: 16px;
  padding: 3rem 1rem;
}
.cont__wrap {
  display: flex;
  min-width: 360px;
  max-width: 1200px;
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 280px) and (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 824px) {
  .App {
    font-size: 14px;
  }
}
